* {
  box-sizing: border-box;
}
body {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Orbitron", sans-serif;
}
main {
  font-family: "Orbitron", sans-serif;
}
nav {
  color: white;
}
.form-group,
.form-select {
  margin: 10px;
}

.btn {
  margin: 5px;
}
.card {
  margin: 15px;
}
.card-body {
  color: black;
}

.card-img-top {
  padding-top: 10px;
}
#launch_vid_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.you_tube_vid_container {
  padding: 20px;
}

.responsive_iframe {
  padding: 10px;
}
#past_launches_hdg {
  text-align: center;
  font-weight: bold;
  padding: 50px;
}
#trip_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
