* {
  box-sizing: border-box;
}
body {
  color: white;
  background-image: url("https://images-assets.nasa.gov/image/PIA14832/PIA14832~medium.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;      
  font-family: "Orbitron", sans-serif;
}
nav {
  color: white;
}
#landing_header {
  margin-top: 150px;
  margin-left: 150px;
  font-family: "Orbitron", sans-serif;
}
#landing_subheader {
  margin-top: 30px;
  margin-left: 150px;
  font-family: "Orbitron", sans-serif;
}
#landing_blurb_container {
  margin-top: 10px;
}
#mars_report_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#mars_report_hdg {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
