/* #random_facts_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

/* #mars_weather_iframe {
    object-fit: contain;
} */

.card {
    width: 22rem;
    height: 20rem;
    
}
.contain {
    width: 100%;
    height: auto;
}