
body {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;    
    font-family: "Orbitron", sans-serif;
  }

.card {
    width: 22rem;
    height: 20rem;
    background-color: #062844;    
    
    
}
.contain {
    width: 100%;
    height: auto;
}

.card-header {
    background-color: #01386e;
    
}
main {
    font-family: "Orbitron", sans-serif;
  }

  #random_fact_btn {
    background-color: #d74b28;
  }

  